
.navbar{
    background-color: #A9DFBF;
}

.quem-somos{
	background-color: #E6FAFF;
	font-family: 30px;
}

.margin{
	padding-top: 20px;
	padding-bottom: 50px;
}
.parceiro{
	background-color: #85C1E9;
	padding-top: 20px;
	padding-bottom: 50px;
}
.p-font{
	font-size: 20px;
}

.bg-footer
{
	background-color: black;
	color: white;
	padding-top: 20px;
	padding-bottom: 50px;
}